header{
   padding: 0 0 100px;
}
.HERO li{
    display: flex;
    list-style: none;
    justify-content: end;
}
.HERO a{
    font-size: 1.5em;
    color: #f2f2f2;
    text-decoration: none;
    padding: 1em 1.5em;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
}
.HERO h1{
    color: #f2f2f2;
    font-size: 2.5em;
    text-align: center;
    padding: 6em 0 8em;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
}
