.footer h2{
    font-size: 3em;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 0 0.5em;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    transform: rotateY( 180deg );
}
.footer a{
    font-size: 1.5em;
    color: #f2f2f2;
}
address{
    height: 300px;
    position: relative;
}
.insta img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 1em;
    top: 5%;
    right: 55%;
    transition: all 0.3s ease 0s;
}
.insta img:hover{
    cursor: pointer;
	transform: scale(1.2);
}
.mozi1 {
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    transform: rotateY( 180deg );
} 
.mozi1:hover{
    color: #cdbe78;
    cursor: pointer;
	transform: scale(1.2);

}
.tweet img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 1em;
    top: 45%;
    right: 55%;
    transition: all 0.3s ease 0s;
}
.tweet img:hover{
    cursor: pointer;
	transform: scale(1.2);
}
.mozi2{
    position: absolute;
    top: 55%;
    left: 50%;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    transform: rotateY( 180deg );
}
.mozi2:hover{
    color: #cdbe78;
    cursor: pointer;
	transform: scale(1.2);

}
.mail img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 24px;
    top: 85%;
    right: 55%;
    transition: filter 0.3s;
    
}
.mail h3{
    position: absolute;
    top: 95%;
    left: 50%;
    font-size: 1.5em;
    color: #f2f2f2;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 3em;
    transition: color 0.3s;
    transform: rotateY( 180deg );
}
