.footer h2{
    color: #066163;
    
    text-align: center;
    padding: 2em 0 1em;
}
.insta img{
    width: 40px;
    height: 40px;
    margin: 1em;
}
.tweet img{
    width: 40px;
    height: 40px;
    margin: 1em;
}
.mail img{
    width: 40px;
    height: 40px;
    margin: 1em;
}