@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn2 {
    0% {
        opacity: -1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align:center;
	color:#fff;
}

#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	transform: translate(-50%, -50%);
	color: #f2f2f2;
	width: 100%;
}

#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #066163;
    transition: all .4s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}
header{
   height: 768px;
}
.HERO li{
    display: flex;
    list-style: none;
    justify-content: end;
}
.HERO a{
    font-size: 1.5em;
    color: #f2f2f2;
    text-decoration: none;
    padding: 1em 1.5em;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    transform: rotateY( 180deg );
}
.HERO a:hover{
    color: #cdbe78;
    cursor: pointer;
	transform: scale(1.2);
}
.HERO h1{
    color: #f2f2f2;
    font-size: 2.5em;
    text-align: center;
    padding: 5em 0 3em;
    font-family: kaisotai, sans-serif;
    font-style: normal;
    font-weight: 600;
    transform: rotateY( 180deg );
}
.HERO h1 {animation-name: fadeIn; animation-duration: 5s; }
.botan {animation-name: fadeIn; animation-duration: 9s; }

.botan{
    position: relative;
    transition: all 0.3s ease 0s;
}
.botan h2{
    text-align: center;
    transition: all 0.3s ease 0s;
}

.botan a{
    color: #cdbe78;
    padding: 0.5em 1em;
    background-color: #f2f2f2;
    border: 4px solid #bababa;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.botan a:hover{
    color: #f2f2f2;
    background-color:#cdbe78;
    border: 2px solid #575757;
}
.botan:hover{
    transform: translateY(4px);
}